<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410717750803-sqaj74b84c6ue7ekfkqrat57brc7eklc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410717750803-sqaj74b84c6ue7ekfkqrat57brc7eklc</string>
	<key>API_KEY</key>
	<string>AIzaSyD1g7-oZkaOwB9E1RuSWOVjNnyrRpp4Y9I</string>
	<key>GCM_SENDER_ID</key>
	<string>410717750803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistempakar</string>
	<key>PROJECT_ID</key>
	<string>sistempakar-k7</string>
	<key>STORAGE_BUCKET</key>
	<string>sistempakar-k7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410717750803:ios:626db51933f50a67f0e1e6</string>
</dict>
</plist>